# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [47]:
import pandas as pd
import numpy as np

### 2. Create a Pandas Series containing the elements of the list below.

In [48]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [49]:
pd.Series(lst)

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [50]:
lst.index(0, 3, 1)

ValueError: 0 is not in list

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [51]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [52]:
c = pd.DataFrame(b)
display(c)

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Rename the data frame columns based on the names in the list below.

In [53]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [54]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [55]:
c.columns = colnames

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [56]:
pd.DataFrame("Score_1", "Score_3", "Score_5")

TypeError: Index(...) must be called with a collection of some kind, 'Score_3' was passed

### 7. From the original data frame, calculate the average Score_3 value.

In [57]:
c.Score_3.mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0    67.5
1    30.8
2    44.2
3    96.1
4    85.4
5     0.1
6    95.0
7    53.8
8    53.4
9    43.2
Name: Score_3, dtype: float64>

### 8. From the original data frame, calculate the maximum Score_4 value.

In [58]:
c.Score_4.max

<bound method NDFrame._add_numeric_operations.<locals>.max of 0    35.0
1    37.8
2    14.6
3     4.2
4    22.8
5    31.8
6    83.8
7    88.8
8    72.4
9    81.6
Name: Score_4, dtype: float64>

### 9. From the original data frame, calculate the median Score 2 value.

In [59]:
c.Score_2.median

<bound method NDFrame._add_numeric_operations.<locals>.median of 0    95.0
1    40.8
2    73.2
3     0.1
4    20.5
5    69.0
6    40.7
7    26.4
8    96.4
9    39.0
Name: Score_2, dtype: float64>

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [60]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [61]:
frame = pd.DataFrame(orders)
display(frame)

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [62]:
frame["earn"] = frame["Quantity"] * frame["UnitPrice"]
frame.head(10)

                          Description  Quantity  UnitPrice  Revenue    earn
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65    1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20   13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65    1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40  518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50    2.50
5                      POPCORN HOLDER         7       0.85     5.95    5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95   11.95
7                       PARTY BUNTING         4       4.95    19.80   19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90    1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00   60.00

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

## Let's load another dataset for more exercisesº

In [63]:
# Run this code:
admissions = pd.read_csv('../Admission_Predict.csv')
#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [64]:
admissions.head

<bound method NDFrame.head of      Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  \
0             1        337          118                  4  4.5  4.5  9.65
1             2        316          104                  3  3.0  3.5  8.00
2             3        322          110                  3  3.5  2.5  8.67
3             4        314          103                  2  2.0  3.0  8.21
4             5        330          115                  5  4.5  3.0  9.34
..          ...        ...          ...                ...  ...  ...   ...
380         381        324          110                  3  3.5  3.5  9.04
381         382        325          107                  3  3.0  3.5  9.11
382         383        330          116                  4  5.0  4.5  9.45
383         384        312          103                  3  3.5  4.0  8.78
384         385        333          117                  4  5.0  4.0  9.66

     Research  Chance of Admit
0           1             0.92
1           1             0.72
2           1             0.80
3           0             0.65
4           1             0.90
..        ...              ...
380         1             0.82
381         1             0.84
382         1             0.91
383         0             0.67
384         1             0.95

[385 rows x 9 columns]>

### 1 - Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [65]:
pd.isnull(admissions)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
380,False,False,False,False,False,False,False,False,False
381,False,False,False,False,False,False,False,False,False
382,False,False,False,False,False,False,False,False,False
383,False,False,False,False,False,False,False,False,False
384,False,False,False,False,False,False,False,False,False

###  2 -  Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [66]:
admissions.set_index("Serial NO.")

KeyError: "None of ['Serial NO.'] are in the columns"

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [67]:
admissions.GRE Score.unique()
admissions:CGPA.unique()

SyntaxError: invalid syntax (<ipython-input-67-d63e8e54c53c>, line 1)

### 3 - In this part of the lab, we would like to test complex conditions on the entire data set at once. Let's start by finding the number of rows where the CGPA is greater than 9 and the student has performed an investigation.

In [69]:
excellence = admissions.loc[(admissions["CGPA"] > 9) & (admissions["Research"])]
excellence.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
4,5,330,115,5,4.5,3.0,9.34,1,0.90
10,11,328,112,4,4.0,4.5,9.10,1,0.78
19,20,328,116,5,5.0,5.0,9.50,1,0.94
20,21,334,119,5,5.0,4.5,9.70,1,0.95

#### 4 - Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [71]:
new_exce = admissions.loc[(admissions["CGPA"] > 9) & (admissions["SOP"] < 3)]
new_exce.head()

Empty DataFrame
Columns: [Serial No., GRE Score, TOEFL Score, University Rating, SOP, LOR, CGPA, Research, Chance of Admit]
Index: []

Let's create a new column based on the TOEFL Score column, where we put True if the TOEFL value is greater than 100 and False if it is less. We are going to do it with a function and an apply. 
To do this, we first create a function that receives an argument. The function will return True if the parameter entered is greater than 100, otherwise it will return False.

Now we create a new column called "Decision" and apply to the TOEFL Score column

Create a column called `decision2` in the `admissions` dataframe. Assign 1 to this column if the value of `SOP` is greater than 3 and 0 otherwise.    
HINT (use np.where)